{% load static %}
{% if menu %}
    <link rel="stylesheet" type="text/css" href="{% static 'content/css/iconmenu.css' %}" />
	<script type="text/javascript">

	window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"><\/script>')
	</script><script src="{% static 'content/js/iconmenu.js' %}"></script>
		<script>ddiconmenu.docinit({menuid:'myiconmenu', easing:"easeInOutCirc", dur:500 })</script>

	<ul id="myiconmenu" class="iconmenu">
		{% if content_uuid %}<li><a href="{% url 'content:edit' content_type content_uuid %}">E</a></li>{% endif %}
		<li><a href="#" rel="csslibrary">+</a></li>
	</ul>

	<div id="csslibrary" class="iconsubmenu dropdownmenu">
		<ul class="ulmenu">
			<li><a href="{% url 'content:add' 'html' %}?after={{ content_uuid|default:'' }}"><i class="icon-file-text-alt"></i> Add html</a></li>
			<li><a href="{% url 'content:add' 'md' %}?after={{ content_uuid|default:'' }}"><i class="icon-file-text-alt"></i> Add markdown</a></li>
			<li><a href="{% url 'content:add' 'plain' %}?after={{ content_uuid|default:'' }}"><i class="icon-file-text-alt"></i> Add plaintext</a></li>
		</ul>
	</div>

{% endif %}
