aiohappyeyeballs
aiohttp
aiosignal
asgiref
attrs
autobahn
Automat
certifi
cffi
channels
charset-normalizer
constantly
cryptography
daphne
Django
django-appconf
django-ckeditor-5
django-classy-tags
django-constance
django-crispy-forms
django-filter
django-js-asset
django-sekizai
django-select2
django-sendfile2
django-sitetree
django-tables2
django-taggit
django-treebeard
django-widget-tweaks
djangorestframework
frozenlist
geoip2
hashids
hyperlink
idna
incremental
lxml
maxminddb
multidict
pillow
propcache
pyasn1
pyasn1_modules
pycparser
Pygments
pyOpenSSL
requests
service-identity
Twisted
txaio
typing_extensions
urllib3
uvicorn
psycopg
celery[redis,auth,gevent]
flower
django-celery-results
django-celery-beat
