{% extends "base.html" %}
{% load static i18n sekizai_tags vcms_tags %}

{% block title %}{{ snippet.title }}{% endblock %}

{% block content %}
    {% addtoblock "css" %}
	<style>
	.linenodiv {background-color: #003333; color: #FFCC33; padding-left: 3px; padding-right: 3px;}
	.source {background-color: #fcf6f1; padding-left: 5px; padding-right: 15px;}
	.sourcetable {
		font-family: verdana, sans-serif; font-size: 13px;
		padding: 3px 0 0 0;
	}
	</style>
	<link href="{% static 'share/css/pygment.css' %}" media="screen" rel="stylesheet" type="text/css" />
    {% endaddtoblock %}


    <div class="row">
        <div class="col-md-12">
            <h2>{{ snippet.title }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if snippet.description %}
                {{ snippet.description }}
            {% endif %}
        </div>
    </div>

    {% for file in snippet.file_share.all %}
        <div class="row">
{#            <div class="col-md-12"><a href="{% share_download_url snippet %}">{{ file.name }}</a></div>#}
            <div class="col-md-12"><a href="{{ file.download }}">{{ file.name }}</a></div>
        </div>
    {% endfor %}

  	{% if snippet.thumbnail %}
		<div class="row">
			<div class="col-md-12"><a href="/media/{{ snippet.file }}" id="view_image"> <img src="/media/{{ snippet.thumbnail }}"></a></div>
        </div>
        <div class="row">
			<div class="col-md-12">
				BB code (preview): <textarea style="width: 100%; height: 60px;">[url=http://{{ request.get_host }}/media/{{ snippet.file }}][img]http://{{ request.get_host }}/media/{{ snippet.thumbnail }}[/img][/url]</textarea><br/><br/>
				BB code (direct to image): <textarea style="width: 100%; height: 60px;">[img]http://{{ request.get_host }}/media/{{ snippet.file }}[/img]</textarea>
			</div>
		</div>
	{% elif snippet.file and snippet.type == 'image' %}
		<div class="row">
            <div class="col-md-12"><a href="/media/{{ snippet.file }}"><img src="/media/{{ snippet.file }}" style="max-width: 600px;"></a> </div>
        </div>
        <div class="row">
			<div class="col-md-12">
				BB code (direct to image): <textarea style="width: 100%; height: 60px;">[img]http://{{ request.get_host }}/media/{{ snippet.file }}[/img]</textarea>
			</div>
		</div>
    {% elif snippet.file %}
		<div class="row">
			<div class="col-md-12"><a href="{% share_download_url snippet %}">Download file</a></div>
        </div>
	{% endif %}

{#    {% if snippet.video_link %}#}
{#		<div class="row">#}
{#			<div class="col-md-12">{% video snippet.url 'large' %}</div>#}
{#        </div>#}
{#    {% endif %}#}

	{% if snippet.json.html %}
		<div class="row mt-3">
            <div class="col-md-12">
                <h6>Snippet code</h6>
                {{ snippet.json.html|safe }}
		    </div>
		</div>
		<div class="row">
            <div class="col-md-12">
				<a href="{% url 'share:source' snippet.short_id 'raw' %}">{% trans 'View source code' %}</a>
		    </div>
		</div>
	{% endif %}

    <div class="row">
        <div class="col-md-12">
			{% if snippet.content_html %}<a href="http://{{ request.get_host }}{% url 'share_snippet' snippet.short_id %}raw/" class="btn btn-success">Исходник</a>{% endif %}
            {% if request.user == snippet.user %}<a href="{% url "share:edit" snippet.short_id %}" class="btn btn-success">Редактировать</a>{% endif %}
        </div>
    </div>

{% endblock %}
